@import 'vars';

.principal{
    background-color: rgb(105, 54, 172);
    margin: 25px;
    position: relative;
    text-align: center;
    
    &__titulos{
        img{
            object-fit: cover;
            width: 100%;
            height: 800px;
        }

        h1{
            background-color: $colorGrisTransparente;
            width: 500px;
            padding: 5px 5px;
            font-size: 3rem;
            font-weight: bold;
            color: $colorNegro;
            position: absolute;
            top: 50%;
        }

        h4{
            background-color: $colorGrisTransparente;
            width: 500px;
            padding: 5px 5px;
            font-size: 1rem;
            color: $colorNegro;
            position: absolute;
            top: 60%;
        }
    }
}